---
BasedOnStyle: WebKit

# Indentation:
IndentWidth: 4
UseTab: Never

# Wrapping:
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction:         false
  AfterClass:            false
  AfterCaseLabel:        false
  AfterControlStatement: false
  AfterExternBlock:      false
  AfterEnum:             false
  AfterNamespace:        false
  AfterObjCDeclaration:  false
  AfterStruct:           false
  AfterUnion:            false
  BeforeCatch:           false
  BeforeElse:            false
  IndentBraces:          false

# Misc:
AllowShortBlocksOnASingleLine: true
IndentPPDirectives: BeforeHash
MaxEmptyLinesToKeep: 2

# Trailing comments:
SpacesBeforeTrailingComments: 4
AlignTrailingComments: true

# Includes:
IncludeBlocks: Regroup
IncludeCategories:

  # Current module files first.
  - Regex:        '^"'
    Priority:     2

  # Module files next.
  - Regex:        '^<arepa/'
    Priority:     3

  # Library files next.
  - Regex:        '^<(boost)/?'
    Priority:     4

  # Standard files next.
  - Regex:        '^<'
    Priority:     4